.container{
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-login{
    max-width: 600px;
}

.card{
    border-radius: 20px;
}

.card-body{
    padding: 40px 40px 30px;
}

.title{
    color: #a7261b;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    border: 2px solid #a7261b;
}

.login{
    margin-bottom: 50px;
}

hr{
    background-color: #a7261b;
    margin-bottom: -22px;
    max-width: 500px;
    border-bottom: 2px solid #a7261b;
}

body{
    background-color: #f2f2f2;
    background-image: url(https://prueba.vespro.ml/img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #a7261b;
}

p{
    display: inline-block;
    padding: 30px 10px 0px;
}

.row{
    margin: 0px;
}

footer{
    background-color: #b21f16;
    color: #fff;
    padding: 10px;
}
.cuerpo{
    min-height: calc(100vh - 44px);
}

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
	background-color: #b21f16 !important;
    border-color: #b21f16 !important;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    box-shadow: 0 0 2px 0.2rem rgba(167, 38, 27, 0.84)!important;
}
.btn{color: #fff;border-radius: 10px}

a, a:hover{
    color: #b21f16;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


.form-group {
    position: relative;
}
.form-group input{
    padding-left: 25px;
}
.form-group i {
    position: absolute;
    top: 11px;
    left: 6px;
}
.form-control:focus {
    color: #495057;
    /* background-color: var(--blue-color) !important; */
    border-color: #b21f16 !important;
    outline: 0;
    box-shadow: 0 0 2px 0.2rem rgba(167, 38, 27, 0.84)!important;
}

/* .form-group::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f007";
    position: absolute;
    font-size: 16px;
    left:28px;
    padding-top: 9px;
    padding-left: 8px;
    color:#555e69;
    font-weight: 700;
  }
  
.form-group:last-of-type::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    content: '\f084';
  }
 */
@media (max-width: 340px){ 
    .login {
        margin-bottom: 20px;
    }
    
    p{
        font-size: 11px;
        padding-bottom: 10px;
    }
}

@media (max-width: 360px){ 
    .login {
        margin-bottom: 20px;
    }
    
    p{
        font-size: 12px;
        padding-bottom: 10px;
    }
}

/* @media (max-height: 750px ){ 
    .container{
        margin-top: auto;
    }
}

@media (max-height: 630px){ 
    .div-login{
        width: auto;
    }
} */

@font-face {
    font-family: 'Montserrat-regular';
    src: url("../css/font-montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url("../css/font-montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-light';
    src: url("../css/font-montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: 'Montserrat-semiBold';
    src: url("../css/font-montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url("../css/font-montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat-thin';
    src: url("../css/font-montserrat/Montserrat-Thin.ttf")
}

*{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat','Montserrat-regular' ;
    font-weight: 500;
}