@font-face {
  font-family: 'vespro';
  src:  url('fonts/vespro.eot?3j5esh');
  src:  url('fonts/vespro.eot?3j5esh#iefix') format('embedded-opentype'),
    url('fonts/vespro.ttf?3j5esh') format('truetype'),
    url('fonts/vespro.woff?3j5esh') format('woff'),
    url('fonts/vespro.svg?3j5esh#vespro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vespro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abajo-fecha:before {
  content: "\e90c";
}
.icon-check-circle-line:before {
  content: "\e90e";
}
.icon-gas:before {
  content: "\e910";
}
.icon-add:before {
  content: "\f067";
}
.icon-check:before {
  content: "\f00c";
}
.icon-borrar:before {
  content: "\f00d";
}
.icon-image2:before {
  content: "\f03e";
}
.icon-add-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-borrar-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-calendario2:before {
  content: "\f073";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-abajo:before {
  content: "\f0d7";
}
.icon-arriba:before {
  content: "\f0d8";
}
.icon-kilometraje:before {
  content: "\f0e4";
}
.icon-subir-file:before {
  content: "\f0ee";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-pdf:before {
  content: "\f1c1";
}
.icon-excel:before {
  content: "\f1c3";
}
.icon-image:before {
  content: "\f1c5";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-cumplenio2:before {
  content: "\f1fd";
}
.icon-map:before {
  content: "\f279";
}
.icon-foto-check:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-asignacion:before {
  content: "\e900";
}
.icon-calendario:before {
  content: "\e901";
}
.icon-contrania:before {
  content: "\e902";
}
.icon-cumplenio:before {
  content: "\e903";
}
.icon-detalles:before {
  content: "\e904";
}
.icon-eliminar:before {
  content: "\e905";
}
.icon-estado:before {
  content: "\e906";
}
.icon-notificaciones:before {
  content: "\e907";
}
.icon-telefono:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-vehiculo:before {
  content: "\e90a";
}
